<!-- pokemon_list.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}{{pokemon.name_ja}}{% endblock %}

{% block content %}
    <h2>詳細データ</h2>
    <img src="{{ pokemon.image_url }}" alt="{{ pokemon.name }}">
    <p>図鑑 No.{{ pokemon.id_number }}</p> 
    <p>名前：{{ pokemon.name_ja }} / {{ pokemon.name_en }}</p>  
    <p>分類：{{ pokemon.genus }}</p>
    <p>タイプ：
        {% for type_obj in pokemon.type %}
            <img src="{% static 'images/types/'%}{{type_obj}}.svg" alt="{{type_obj}}" class="icon-type-svg">
        {% endfor %}
    </p>  
    <p>特性：{{ pokemon.ability |join:", " }}</p>
    <p>説明：{{ pokemon.text }}</p>
{% endblock %}
